{% extends  'base.html.twig' %}
{% block body %}

<h1>Creation d'un acteur reussie</h1>
<h5>De nom:{{acteur.nom}}</h5>
<h5>De prenom:{{acteur.prenom}}</h5>
<h5>De poste:{{acteur.poste}}</h5>
<h5>De image:{{acteur.image}}</h5>

{% endblock %}