<table class="table table-striped">

    <thead>
        <tr>
            <td>Index</td>
            <td>Nom</td>
            <td>Nombre de materiel</td>
            <td>Marque</td>
            <td>Description</td>
            <td>Prix</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{equipement.id}}</td>
            <td>{{equipement.nom}}</td>
            <td>{{equipement.nombre}}</td>
            <td>{{equipement.marque}}</td>
            <td>{{equipement.description}}</td>
            <td>{{equipement.prix}}</td>
        </tr>
    </tbody>
</table>